/*
 * Roboto font.
 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(font://Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url(font://Roboto-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(font://Roboto-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url(font://Roboto-MediumItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(font://Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url(font://Roboto-BoldItalic.ttf) format('truetype');
}

/*
 * Google Sans font.
 */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src: url(font://GoogleSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-weight: 400;
  src: url(font://GoogleSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  src: url(font://GoogleSans-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-weight: 500;
  src: url(font://GoogleSans-MediumItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 700;
  src: url(font://GoogleSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-weight: 700;
  src: url(font://GoogleSans-BoldItalic.ttf) format('truetype');
}

body,
html {
  /* This is a copy of --paper-font-common-base */
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;

  margin: 0;
  padding: 0;
}
